body {
    margin: 0;
    border: 5px solid rgb(62, 4, 73);
    background: black;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 3fr;
}

header {
    font-family: 'Genos', sans-serif;
    color: #fff;
    background: black;
    grid-column: 1 / span 3;
    grid-row: 1;
    text-align: center;
}

#menu {
    grid-column: 1;
    grid-row: 2;
    display: grid;
}

#game-window {
    border: 2px solid #fff;
    grid-column: 2 / span 3;
    grid-row: 2;
    margin: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: black;

}

footer {
    font-family: 'Genos', sans-serif;
    grid-column: 1 / span 3;
    grid-row: 3;
    text-align: center;
    margin: 0;
}


.box {
    font-family: 'Genos', sans-serif;
    text-align: center;
    border: 5px solid #fff;
    padding-top: 25px;
    height: 128px;
    font-size: 50px;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
    -moz-animation: glowing-text 1s ease-in-out infinite alternate;
    animation: glowing-text 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glowing-text {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6, 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
  }
    
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


#foot, h1 {
    color: #fff;
    padding-top: 20px;
    font-size: 45px;
    -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
    -moz-animation: glowing-text 1s ease-in-out infinite alternate;
    animation: glowing-text 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glowing-text {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6, 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
  }
    
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }


button {
    font-family: 'Genos', sans-serif;
    font-size: 100px;
    background-color: rgb(62, 4, 73);
    color: white;
    -webkit-animation: glowing-text 1s ease-in-out infinite alternate;
    -moz-animation: glowing-text 1s ease-in-out infinite alternate;
    animation: glowing-text 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glowing-text {
    0% {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2e00e6, 0 0 40px #6300e6, 0 0 50px #c300e6, 0 0 60px #e200e6, 0 0 70px #e600ca;
  }
    
    100% {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.isTurn {
padding-top: 25%;
margin: 5px;
color:white;
background-color:green;
box-shadow: 0px 0px 7px 3px yellow;
text-align: center;
font-size: 40px;
}

.waitingTurn {
margin: 5px;
padding-top: 25%;
text-align: center;
font-size: 40px;
box-shadow: 0 1 2 0;
background-color: grey;
}


